@import 'mixins';

.gallery{
    width: 100%;
    .page-title{
        display: flex;
        height: 100px;
        background-color: $primaryClr;
        color: white;
        justify-content: center;
        text-transform: uppercase;
        h1{
            font-size: 2.5rem;
        }
    }
}