@import 'mixins';

.table{
    display: flex;
    flex-flow: column;
    align-items: center;

    .standings {
        font-size: 1.2rem;
        max-width: 100%;
        border-left: 5px solid $secondaryClr;
        border-right: 5px solid $secondaryClr;
        .header-row{
            background-color: $secondaryClr;
            th{
                padding: 10px 20px 10px 20px;
            }
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .wsg{
            background-color: $primaryClr;
            color: white;
        }
        border-collapse: collapse;
        td{
            padding: 10px 20px 10px 20px;
            a{
                text-decoration: none;
                color: black;
                opacity: 70%;
                &:hover{
                    opacity: 100%;
                }
            }
        }
        // .position{
        //     border-left: 5px solid $secondaryClr;
        // }
    }
    .next-game{
        width: 100%;
        background-color: $secondaryClr;
        display: flex;
        flex-direction: column;
        align-items: center;
        .teams{
            display: flex;
            flex-direction: row;
            align-items: center;
            .team1{
                background-image: url(../images/altach.png);
                width: 80px;
                height: 60px;
                background-size: 80px 60px;
                background-position: center;
                background-repeat: no-repeat;
            }
            .team2{
                background-image: url(../images/logo.png);
                width: 80px;
                height: 60px;
                background-size: 80px 60px;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .content{
        .table{
            .standings{
                .goals{
                    display: none;
                }
                .games{
                    display: none;
                }
            }
        }
    }
};