<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='icon' href='../images/logo.png' type='image/x-icon' >
    <title>WSG Swarovski</title>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <a href="./index.html" title="Visit home">
                <img class="header-logo" src="../images/logo.png" alt="">
                <p>WSG Swarovski Tirol</p>
            </a>
            <!-- <div class="vertical"></div> -->
        </div>
        <div class="header-right" id="headerRight">
            <ul class="menu-container">
                <li class="menu-item">
                    <a href="./team.html">Team</a>
                </li>
                <li class="menu-item">
                    <a href="./standings.html">Standings</a>
                </li>
                <li class="menu-item-selected">
                    <a href="#">Gallery</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="./stadium_gallery.html">Stadium</a>
                        </li>
                        <li>
                            <a href="./matches_gallery.html">Matches</a>
                        </li>
                        <li>
                            <a href="./fans_gallery.html">Fans</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="./store.html">Store</a>
                </li>
                <li class="icon">
                    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="gallery">
            <div class="page-title">
                <h1>Matches</h1>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="links">
            <a href="https://www.instagram.com/davidfabro/" title="Official Instagram">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://twitter.com/wsgfussball?lang=en" title="Official Twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.wsg-fussball.at/" title="Official Website">
                <img class="header-logo" src="../images/logo_bnw.png" alt="">
            </a>
        </div>
        <p>©All rights reserved to PepiPitbulla INC.</p>
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("headerRight");
            console.log("Hello");
            if (x.className === "header-right") {
                x.className += "responsive";
            } else {
                x.className = "header-right";
            }
        }
    </script>
</body>
</html>