<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='icon' href='../images/logo.png' type='image/x-icon' >
    <title>WSG Swarovski</title>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <a href="./index.html" title="Visit home">
                <img class="header-logo" src="../images/logo.png" alt="">
                <p>WSG Swarovski Tirol</p>
            </a>
            <!-- <div class="vertical"></div> -->
        </div>
        <div class="header-right" id="headerRight">
            <ul class="menu-container">
                <li class="menu-item">
                    <a href="./team.html">Team</a>
                </li>
                <li class="menu-item-selected">
                    <a href="./standings.html">Standings</a>
                </li>
                <li class="menu-item">
                    <a href="#">Gallery</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="./stadium-gallery.html">Stadium</a>
                        </li>
                        <li>
                            <a href="./mathes-gallery.html">Matches</a>
                        </li>
                        <li>
                            <a href="./fans-gallery.html">Fans</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="./store.html">Store</a>
                </li>
                <li class="icon">
                    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="table">
            <table class="standings">
                <tr class="header-row">
                    <th class="position"></th>
                    <th>Team</th>
                    <th title="Games played">P</th>
                    <th class="games" title="Games won">W</th>
                    <th class="games" title="Games drawn">D</th>
                    <th class="games" title="Games lost">L</th>
                    <th class="goals" title="Goals for">GF</th>
                    <th class="goals" title="Goals against">GA</th>
                    <th class="goals" title="Goal difference">GD</th>
                    <th title="Points">Pt.</th>
                </tr>
                <tr>
                    <td class="position">1</td>
                    <td><a href="" title="Visit this team.">LASK</a></td>
                    <td>22</td>
                    <td class="games">17</td>
                    <td class="games">3</td> 
                    <td class="games">2</td>
                    <td class="goals">50</td>
                    <td class="goals">20</td>
                    <td class="goals">30</td>
                    <td>54</td>
                </tr>
                <tr>
                    <td class="position">2</td>
                    <td><a href="" title="Visit this team.">Red Bull</a></td>
                    <td>22</td>
                    <td class="games">14</td>
                    <td class="games">6</td> 
                    <td class="games">2</td>
                    <td class="goals">74</td>
                    <td class="goals">26</td>
                    <td class="goals">48</td>
                    <td>48</td>
                </tr>
                <tr>
                    <td class="position">3</td>
                    <td><a href="" title="Visit this team.">Rapid Wien</a></td>
                    <td>22</td>
                    <td class="games">11</td>
                    <td class="games">7</td> 
                    <td class="games">4</td>
                    <td class="goals">47</td>
                    <td class="goals">26</td>
                    <td class="goals">21</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td class="position">4</td>
                    <td><a href="" title="Visit this team.">Pellets WAC</a></td>
                    <td>22</td>
                    <td class="games">11</td>
                    <td class="games">5</td> 
                    <td class="games">6</td>
                    <td class="goals">50</td>
                    <td class="goals">27</td>
                    <td class="goals">23</td>
                    <td>38</td>
                </tr>
                <tr>
                    <td class="position">5</td>
                    <td><a href="" title="Visit this team.">Sturm Graz</a></td>
                    <td>22</td>
                    <td class="games">9</td>
                    <td class="games">5</td> 
                    <td class="games">8</td>
                    <td class="goals">37</td>
                    <td class="goals">28</td>
                    <td class="goals">9</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td class="position">6</td>
                    <td><a href="" title="Visit this team.">Prolactal Hartberg</a></td>
                    <td>22</td>
                    <td class="games">8</td>
                    <td class="games">5</td> 
                    <td class="games">9</td>
                    <td class="goals">36</td>
                    <td class="goals">50</td>
                    <td class="goals">-14</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td class="position">7</td>
                    <td><a href="" title="Visit this team.">Austria Wien</a></td>
                    <td>22</td>
                    <td class="games">5</td>
                    <td class="games">10</td> 
                    <td class="games">7</td>
                    <td class="goals">33</td>
                    <td class="goals">36</td>
                    <td class="goals">-3</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td class="position">8</td>
                    <td><a href="" title="Visit this team.">Altach</a></td>
                    <td>22</td>
                    <td class="games">7</td>
                    <td class="games">3</td> 
                    <td class="games">12</td>
                    <td class="goals">34</td>
                    <td class="goals">44</td>
                    <td class="goals">-10</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td class="position">9</td>
                    <td><a href="" title="Visit this team.">Admira</a></td>
                    <td>22</td>
                    <td class="games">4</td>
                    <td class="games">7</td> 
                    <td class="games">11</td>
                    <td class="goals">22</td>
                    <td class="goals">43</td>
                    <td class="goals">-21</td>
                    <td>19</td>
                </tr>
                <tr class="wsg">
                    <td class="position">10</td>
                    <td>Swarovski Tirol</td>
                    <td>22</td>
                    <td class="games">5</td>
                    <td class="games">4</td> 
                    <td class="games">14</td>
                    <td class="goals">26</td>
                    <td class="goals">50</td>
                    <td class="goals">-24</td>
                    <td>19</td>
                </tr>
                <tr>
                    <td class="position">11</td>
                    <td><a href="" title="Visit this team.">Mattersburg</a></td>
                    <td>22</td>
                    <td class="games">3</td>
                    <td class="games">8</td> 
                    <td class="games">11</td>
                    <td class="goals">26</td>
                    <td class="goals">52</td>
                    <td class="goals">-26</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td class="position">12</td>
                    <td><a href="" title="Visit this team.">St. Pollen</a></td>
                    <td>22</td>
                    <td class="games">3</td>
                    <td class="games">8</td> 
                    <td class="games">11</td>
                    <td class="goals">21</td>
                    <td class="goals">54</td>
                    <td class="goals">-33</td>
                    <td>17</td>
                </tr>
            </table>
            <div class="next-game">
                <h1>Our next game:</h1>
                <div class="teams">
                    <div class="team1"></div>
                    <div class="team2"></div>
                </div> 
                <p>06.06.2020 - 18:00</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="links">
            <a href="https://www.instagram.com/davidfabro/" title="Official Instagram">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://twitter.com/wsgfussball?lang=en" title="Official Twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.wsg-fussball.at/" title="Official Website">
                <img class="header-logo" src="../images/logo_bnw.png" alt="">
            </a>
        </div>
        <p>©All rights reserved to PepiPitbulla INC.</p>
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("headerRight");
            console.log("Hello");
            if (x.className === "header-right") {
                x.className += "responsive";
            } else {
                x.className = "header-right";
            }
        }
    </script>
</body>
</html>